body {
    background-color: #190A35;
    color: white;
    margin: 0;
}


p {
    font-family: Calibri, sans-serif;
}

main {
    background-image: radial-gradient(#111E4B 5px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
    padding: 2rem
}

.title_pink {
    color: #FF4E78;
}

.title_green {
    color: #A4CF00;
}

.title_blue {
    color: #306EF9;
}

.card_content {
    border-radius: 41px;
    background-color: #312345;
    padding: 2.25rem 3.30rem 1.5rem 3.30rem;
    font-size: 0.875rem;
    margin-bottom: 50px;
    font-family: 'Anybody', sans-serif;
}


.card_title {
    border-radius: 9999px;
    text-transform: uppercase;
    padding: 10px 15px;
    position: relative;
    top: 20px;
    left: -20px;
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Anybody', sans-serif;
}

.card_pink {
    background-color: #FF4E78;
}

.card_green {
    background-color: #A4CF00;
}

.card_blue {
    background-color: #306EF9;
}

.article_card {
    padding: 24px 20px;
    background-color: #312345;
    border-radius: 40px;
    margin-bottom: 50px;
}

.article_card > *:not(:first-child) {
    margin-top: 25px;
}

.article_card p, h2 {
    margin: 0;
}

.article_card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Anybody', sans-serif;
}


.titre-presentation {
    margin-top: 50px;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 32px;
    color: #FF4E78;
    margin-bottom: 50px;
}

.titre-presentation2 {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 32px;
    color: #306EF9;
    margin-bottom: 50px;
}

.titre-presentation3 {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 32px;
    color: #CAFB12;
    margin-bottom: 50px;
}

.titre-presentation4 {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 32px;
    background: linear-gradient(90deg, #FF4E78, #316FF9, #306EF9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
}

.titre {
    margin-bottom: 25px;
    margin-top: 1px;
}