.voirplus {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background: linear-gradient(90deg, #FF4E78, #316FF9, #306EF9 );
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Annybody', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-rose {
    background-color: #FF4E78;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 25px 50px;
    font-family: 'Anybody', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.btn-rose:hover {
    background-color: #e0436b;
}

.btn-vert {
    background-color: #A4CF00;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 25px 50px;
    font-family: 'Anybody', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.btn-vert:hover {
    background-color: #92b800;
}

.btn-bleu {
    background-color: #306EF9;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 25px 50px;
    font-family: 'Anybody', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.btn-bleu:hover {
    background-color: #2859d1;
}